.extraPadding{
  padding:5% 0%;
}

.title{
  font-size:1.75rem;
  color:#3c3c3c;
  font-family:sans-serif;
  float:left;
}
.tableHeader{
  position:relative;
  width:100%;
}
.averageGradeDiv{
  right:0%;
  float:right;
}
.averageGradeBadge, .averageGradeTitle{
  display:inline-block
}
.averageGradeTitle{
  font-size:1.5rem;
}
.badge{
  font-size:1.5rem;
}
.tableHeader{
  position:relative;
}
.averageGradeDiv{
  float:right;
}
thead{
  color:white;
  background-color:#5c5c5c;
  border-bottom:none;
}
.table th{
  padding:1.25rem .75rem;
}

.table td{
  border-top: none;
  padding:1rem .75rem;
}
.table thead th{
  border-bottom:2px solid #5c5c5c;
}

tr:nth-of-type(2n){
  background-color:#e7e7e7;
}

.table{
  border:2px solid #5c5c5c;
}

input{
  width:100%;
  margin-bottom:15px;
  border:1px solid #9c9c9c;
  height:35px;
}

.input-group{
  width:100%;
  margin-bottom:15px;
  border-radius:5px;
  height:35px;
}

.formIcon{
  height:35px;
}

.iconAndBackground{
  color:#4c4c4c;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:0px 10px;
}

.fa-graduation-cap, .fa-user, .fa-list-alt{
  width:20px;
  padding-top:10px;
}

.button-group{
  float:right;
}

.addButton{
  margin-right:15px;
  padding:6px 20px;
}
