.extraPadding{
  padding:5% 0%;
}

.title{
  font-size:1.75rem;
  color:#3c3c3c;
  font-family:sans-serif;
  float:left;
}

.averageGradeBadge, .averageGradeTitle{
  display:inline-block
}
.badge{
  font-size:1.5rem;
}
.averageGradeDiv{
   float:right;
}
thead{
  color:white;
  background-color:#5c5c5c;
  border-bottom:none;
}
.table th{
  padding:1.25rem .75rem;
}

.table td{
  border-top: none;
  padding:1rem .75rem;
}
.table thead th{
  border-bottom:2px solid #5c5c5c;
}

tr:nth-of-type(2n){
  background-color:#e7e7e7;
}

.table{
  border:2px solid #5c5c5c;
}
